.body-servicios {
    background:
        radial-gradient(
            circle at top right,
            rgba(163, 228, 182, 0.35),
            transparent 40%
        ),
        radial-gradient(
            circle at bottom left,
            rgba(46, 204, 113, 0.18),
            transparent 35%
        ),
        #f8fcf9;
}

.div-imagen-servicio img {
    object-fit: contain;
}

@media (width < 992px) {
    .form-usuario {
        width: 100% !important;
    }
}

@media (width < 576px) {
    .form-usuario {
        width: 90% !important;
    }
}
