/*========================================
    ESTILO GENERAL DE LOS MODALES
=========================================*/

.modal-content {
    border: none;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 18px 40px rgba(0,0,0,.20);
}

.modal-header {
    border: none;
    padding: 1.3rem 1.5rem;
}

.modal-header .btn-close {
    margin-top: .25rem;
}

.modal-body {
    padding: 2rem;
}

.modal-footer {
    border-top: none;
}

.modal-title {
    font-weight: 700;
    color: #198754;
}

.btn-close {
    transition: .25s;
}

.btn-close:hover {
    transform: rotate(90deg) scale(1.15);
}

.icono-modal {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    margin: auto;
    margin-bottom: 18px;
}

.icono-exito {
    background: #d1f7df;
    color: #198754;
}

.icono-error {
    background: #fdd2d2;
    color: #dc3545;
}

.modal.fade .modal-dialog {
    transition: .35s ease;
}

.titulo-modal {
    font-size: 1.5rem;
    font-weight: 700;
    color: #343a40;
    margin-bottom: .8rem;
}

.texto-modal {
    color: #6c757d;
    font-size: 1rem;
    margin-bottom: 0;
    line-height: 1.5;
}

/*========================================================
    MODAL MOSTRAR MASCOTAS USUARIO
==========================================================*/
#miModal .modal-content {
    background: #f8f9fa;
}

.tarjeta-mascota {
    transition: .25s ease;
}

.tarjeta-mascota:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 35px rgba(0,0,0,.18);
}

.tarjeta-mascota img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px, 12px 0 0;
}

.tarjeta-mascota .card-body {
    padding-top: .5rem;
    padding-bottom: .7rem;
}

.tarjeta-mascota .card-title, .text-raza {
    margin-bottom: 0;
}

.tarjeta-mascota .text-muted, .text-genero {
    margin-bottom: .2rem;
}

.tarjeta-mascota .btn {
    font-size: 1.2rem;
    padding: .35rem .45rem;
    transition: .2s;
}

.tarjeta-mascota .btn:hover {
    transform: scale(1.08);
}
